<!DOCTYPE html>
<!--解决idea thymeleaf 表达式模板报红波浪线-->
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js" ></script>
<script src="http://passport.cnblogs.com/scripts/jsencrypt.min.js"></script>
<script src="view/js/base64.js" ></script>
<script src="view/js/aes.js" ></script>
<script src="view/js/index.js" ></script>
<head>
</head>
<body>
<input id="username" type="text" name="username"><br>
<input id="password" type="password" name="password"><br>
<input type="button" onclick="subimt()" value="提交">
<h1 id="myh1"></h1>
<h1 id="myh2"></h1>
<h1 id="myh3"></h1>
<h1 id="myh4"></h1>
</body>
</html>